@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html{
    height: 100%;
    margin: 0;
}
.menu_lateral {
    height: 100%;
    width: 20%;
    background-color: rgb(138, 182, 235);
    float: left;
    position: fixed;
    top: 0;
    bottom: 0;

}

.menu_lateral li a:visited {
    text-decoration: none ;
    color: azure;
    font-family: "Bebas Neue", sans-serif;
}

.menu_lateral li a {
    text-decoration: none ;
    color: azure;
    font-family: "Bebas Neue", sans-serif;
}
.menu_lateral li a:hover {
    text-decoration: none ;
    color: rgb(27, 4, 236);
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 1px 2px 2px rgb(101, 92, 198)
}


.menu_lateral li {
    text-decoration: none ;
    color: azure;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;

}

.bem_vindo {
    width: 79%;
    height: 100%;
    color: rgb(129, 141, 183);
    background-color: rgb(17, 57, 91);
    position: relative;
    display: flex;
    /*flex-grow: 1;*/
    float: right;
    top: 0;
    bottom: 0;
    padding-left:   15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} 
.bem_vindo h1 {
    text-align: center;  
}

.bem_vindo p {
    text-align: center;
}